/* select a font */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

:root {
  --clr-Grayish-blue: hsl(237, 18%, 59%);
  --clr-Soft-red: hsl(345, 95%, 68%);
  --clr-White: hsl(0, 0%, 100%);
  --clr-Dark-desaturated-blue: hsl(236, 21%, 26%);
  --clr-Very-dark-blue: hsl(235, 16%, 14%);
  --clr-Very-dark-mostly-black-blue: hsl(234, 17%, 12%);
  --clr-sky-blue: #8ecae6ff;
  --clr-blue-green: #219ebcff;
  --clr-prussian-blue: #023047ff;
  --clr-selective-yellow: #ffb703ff;
  --clr-ut-orange: #fb8500ff;
  --ff-roboto: "Roboto", sans-serif;
  --ff-noto-sans: "Noto Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  --max-width: 1170px;
  --fixed-width: 450px;
}

html {
  font-size: 16px;
}

body {
  font-family: var(--ff-roboto);
}

/* global styles */
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 992px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section,
.container {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.card {
  width: 405px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-image: url(../images/bg-stars.svg);

  background-color: var(--clr-Very-dark-blue);

  margin: 3.5rem;
}
.header {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}
.title {
  color: var(--clr-White);
  font-size: 1.75rem;
  margin-top: 3rem;
}
.main {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  margin: 0.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: var(--clr-Soft-red);
}

.days {
  background-color: var(--clr-Dark-desaturated-blue);
  height: 4rem;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.hours {
  background-color: var(--clr-Dark-desaturated-blue);
  height: 4rem;
  width: 3.5rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.minutes {
  background-color: var(--clr-Dark-desaturated-blue);
  height: 4rem;
  width: 3.5rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seconds {
  background-color: var(--clr-Dark-desaturated-blue);
  height: 4rem;
  width: 3.5rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.days-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.hours-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.minutes-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.seconds-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.names {
  color: var(--clr-Grayish-blue);
}
.footer {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.footer-img {
  margin-top: -88px;
  width: 100%;
  height: 7.5rem;
  margin-bottom: -40px;
}
.icons {
  margin: 0 1.5rem;
}
@media screen and (min-width: 992px) {
}
